body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.left-section {
  flex: 5;
}

.left-section img {
  max-width: 100%;
  height: auto;
}

.right-section {
  flex: 6;
  text-align: left;
}
h1 {
  font-size: 64px;
}
.sanka {
  font-size: 31px;
  font-weight: bold;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.info {
  font-size: 0.8rem;
  margin-bottom: 4rem;
  width: 300px;
}
.login {
  font-weight: bold;
}
.mataha {
  text-align:center;
  width: 300px;
}

.bordered-text {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  margin: 0 0;
}
.bordered-text::before,
.bordered-text::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 110px; 
  height: 1px; 
  background-color: gray
}

.bordered-text::before {
  right: 100%;
}

.bordered-text::after {
  left: 100%;
}

@media screen and (min-width: 1920px){
  .mataha,
  .info {
    width: 380px;
  }
}